[FASHION]
NUM_EPOCHS = 20
NUM_CLASSES = 19
BATCH_SIZE = 64
SNAPSHOT_STEPS = 500
VALIDATION_STEPS = 100
LEARNING_RATE = 0.001
SNAPSHOT_DIR = /home/vision/smb-datasets/FASHION/Classification/convnet2/snapshots_2/
DATA_DIR = /home/vision/smb-datasets/FASHION/Classification/convnet2
CHANNELS = 3
IMAGE_WIDTH = 224
IMAGE_HEIGHT = 224
USE_L2 = True
WEIGHT_DECAY = 1e-4
SHUFFLE_SIZE = 10000
#for tf_records to use multithreads
USE_MULTITHREADS = True
NUM_THREADS = 8
#CKPFILE is used for fine tunning
CKPFILE = /home/vision/smb-datasets/ILSVRC/convnet2/snapshots_1/chk_sample
