[IMAGE]
NUM_EPOCHS = 50
NUM_CLASSES = 1000
BATCH_SIZE = 128
SNAPSHOT_STEPS = 500
TEST_TIME = 30
VALIDATION_STEPS = 30 
LEARNING_RATE = 0.001
SNAPSHOT_DIR = /home/vision/smb-datasets/ILSVRC/convnet2/snapshots_v2/
DATA_DIR = /home/vision/smb-datasets/ILSVRC/convnet2
CHANNELS = 3
KEEP_ASPECT_RATIO = TRUE
IMAGE_WIDTH = 224
IMAGE_HEIGHT = 224
SHUFFLE_SIZE = 10000
USE_L2 = True
WEIGHT_DECAY = 1e-4
USE_MULTITHREADS = True
NUM_THREADS = 12
#CKPFILE = /home/vision/smb-datasets/ILSVRC/convnet2/snapshots/024
