[IMAGE]
NUM_EPOCHS = 50
NUM_CLASSES = 1000
BATCH_SIZE = 256
VALIDATION_STEPS = 195
LEARNING_RATE = 0.1
DECAY_STEPS = 300000
SNAPSHOT_DIR = /home/vision/smb-datasets/ILSVRC/convnet2/snapshots_rename/
DATA_DIR = /home/vision/smb-datasets/ILSVRC/convnet2
CHANNELS = 3
#KEEP_ASPECT_RATIO = TRUE
IMAGE_TYPE = IMAGE
IMAGE_WIDTH = 224
IMAGE_HEIGHT = 224
SHUFFLE_SIZE = 10000
#USE_L2 = True
#WEIGHT_DECAY = 1e-4
USE_MULTITHREADS = True
NUM_THREADS = 12
CKPFILE = /home/vision/smb-datasets/ILSVRC/convnet2/snapshots_4/045.h5
#CKPFILE = /home/vision/smb-datasets/ILSVRC/convnet2/snapshots_rename/001.h5

