[MNIST]
NUM_EPOCHS = 20
NUM_CLASSES = 10
BATCH_SIZE = 128
VALIDATION_STEPS = 78
LEARNING_RATE = 0.01
DECAY_STEPS = 40000
SNAPSHOT_DIR = /home/vision/smb-datasets/MNIST/convnet2/models/
DATA_DIR = /home/vision/smb-datasets/MNIST/convnet2
CHANNELS = 1
IMAGE_TYPE = MNIST
IMAGE_WIDTH = 31
IMAGE_HEIGHT = 31
SHUFFLE_SIZE = 10000
#USE_MULTITHREADS = False
#NUM_THREADS = 12
CKPFILE = /home/vision/smb-datasets/MNIST/convnet2/models/020.h5
