[PHOTO]
NUM_EPOCHS = 50
NUM_CLASSES = 250
BATCH_SIZE = 128
SNAPSHOT_STEPS = 200
TEST_TIME = 30
VALIDATION_STEPS = 30 
LEARNING_RATE = 0.001
SNAPSHOT_DIR = /home/vision/smb-datasets/SBIR/SiameseNet/photos/snapshots
DATA_DIR = /home/vision/smb-datasets/SBIR/SiameseNet/photos
CHANNELS = 3
IMAGE_TYPE = IMAGE
IMAGE_WIDTH = 224
IMAGE_HEIGHT = 224
