[SBIR]
NUM_EPOCHS = 50
NUM_CLASSES = 250
BATCH_SIZE = 256
VALIDATION_STEPS = 15
LEARNING_RATE = 0.1
DECAY_STEPS = 10000
SNAPSHOT_DIR = /home/vision/smb-datasets/SBIR/Sketch_EITZ/convnet2/snapshots_rename/
DATA_DIR = /home/vision/smb-datasets/SBIR/Sketch_EITZ/convnet2
CHANNELS = 3
IMAGE_TYPE = SKETCH
IMAGE_WIDTH = 224
IMAGE_HEIGHT = 224
USE_MULTITHREADS = True
NUM_THREADS = 10
CKPFILE = /home/vision/smb-datasets/SBIR/Sketch_EITZ/convnet2/snapshots/050.h5
#CKPFILE = /home/vision/smb-datasets/ILSVRC/convnet2/snapshots_4/045.h5
#CKPFILE = /home/vision/smb-datasets/SBIR/Sketch_EITZ/convnet2/snapshots_rename/004.h5

