[SBIR]
NUM_EPOCHS = 50
NUM_CLASSES = 250
BATCH_SIZE = 128
SNAPSHOT_STEPS = 200
TEST_TIME = 30
VALIDATION_STEPS = 30 
LEARNING_RATE = 0.001
SNAPSHOT_DIR = /home/vision/smb-datasets/SBIR/Sketch_EITZ/convnet2/snapshots/
DATA_DIR = /home/vision/smb-datasets/SBIR/Sketch_EITZ/convnet2
CHANNELS = 3
KEEP_ASPECT_RATIO = FALSE
IMAGE_SIZE = 224
IMAGE_WIDTH = 224
IMAGE_HEIGHT = 224
USE_MULTITHREADS = True
NUM_THREADS = 10
