[SBIR]
NUM_EPOCHS = 50
NUM_CLASSES = 250
BATCH_SIZE = 128
VALIDATION_STEPS = 30
LEARNING_RATE = 0.1
SNAPSHOT_DIR = /home/vision/smb-datasets/SBIR/SiameseNet/snapshots_1
DATA_DIR = /home/vision/smb-datasets/SBIR/SiameseNet/
CHANNELS = 3
#next, only for data creator
IMAGE_TYPE = SKETCH
IMAGE_WIDTH = 224
IMAGE_HEIGHT = 224
CKPFILE	= /home/vision/smb-datasets/SBIR/SiameseNet/snapshots/040.h5
